@import './base.css';

#app {
  margin: 0 auto;
  width:100%;
  font-weight: normal;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}
